#content :nth-child(n) {
    margin-top: 10px;
}

#content :last-child {
    margin-bottom: 60px;
}

h1, h2, h4 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #25274D;
}

h2 {
    color: #29648A;
}

.exchange-form {
    margin: 0 auto;
    min-width: 150px;
    max-width: 200px;
    width: 100%;
}
  
.value-full-width {
    width: 100%;
}

button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}