#page-container {
    position: absolute;
    top: 30%;
    width: 100%;
} 

#page-container :nth-child(3) {
    margin-top: 40px;
}

h1, h2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #25274D;
}

h2 {
    color: #29648A;
}

.example-form {
    margin: 0 auto;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}